<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="ajaxAdvise" class="com.seeyon.apps.jk.advise.AjaxAdvise"></bean>
    <aop:config>
        <!-- 配置切入点  expression填写切入点表达式 -->
        <!-- 切记写上execution前缀 刚刚就没写 启动报错！ -->
        <aop:pointcut expression="execution(java.util.Map com.seeyon.apps.jk.manager..*.job*(..))" id="pointcut"/>

        <!-- 配置切面 切面是切入点和通知的结合 -->
        <aop:aspect ref="ajaxAdvise">
            <!-- ajax异常统一处理 -->
            <aop:around method="around" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
</beans>